page-email-form {
  .list-ios>.item-block {
    border: 0.55px solid #c8c7cc;
    margin: 1rem 0 3rem 0;
  }

  .list-ios .item-block .item-inner {
    border-bottom: none;
  }

  .error {
    border-color: #f01818 !important;
  }

  .valid {
    border-color: #0ee60e !important;
  }
}